body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #233142;
    height: 750px;
    }

    .calculator {
        height: 540px;
        width: 400px;
        background-color: #455d7a;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        }

        .head {
            width: 400px;
            height: 150px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            background-color: #394d66;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
            
            .prev {
                height: 50px;
                background-color: antiquewhite;
                width: 350px;
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
                margin-top: 25px;
            }

            .display {
                width: 340px;
                margin-bottom: 25px;
                height: 50px;
                padding-right: 10px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                background-color: antiquewhite;
                font-family: 'Inter', sans-serif;
                font-size: 40px;
                text-align: right;
            }
        
        .body {
            width: 350px;
            padding: 25px;
            display: flex;
            flex-direction: column;            
            align-items: center;
            }
            
            .buttonrow1 {
                width: 350px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                }

                .buttonrow1 button {
                    height: 50px;
                    width: 70px;
                    background-color: rgb(24, 24, 24);
                    border: none;
                    border-radius: 5px;
                    color: #e3e3e3;
                    font-weight: bolder;
                    font-size: 25px;
                }

                .buttonrow1 .delete {
                    background-color: #f95959;
                }
            
            .buttonrow2, .buttonrow3, .buttonrow4, .buttonrow5, .buttonrow6 {
                width: 350px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                }

                .buttonrow2 button, .buttonrow3 button, .buttonrow4 button, .buttonrow5 button, .buttonrow6 .dot, .buttonrow6 .num {
                    height: 40px;
                    width: 70px;
                    background-color: rgb(48, 47, 47);
                    border: none;
                    border-radius: 5px;
                    color: #e3e3e3;
                    font-weight: bolder;
                    font-size: 18px;
                }

                .buttonrow6 .equal {
                    width: 164px;
                    border: none;
                    border-radius: 5px;
                    background-color: rgb(231, 141, 71);
                    font-weight: bolder;
                    font-size: 18px;
                }
            
